header img{
    height: 50px;
    margin-left: 10;
    border-radius: 40px;
}

body{
    background-color:#2A2A2A ;
    margin-top: 70px;
    
    
}

main{
    color: white;
}

header{
    background-color: #347114;
    position: fixed;
    height: 70;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    position: fixed;
    align-items: center;

}

header * {
    display: inline;
}

header li{
    margin: 20px;
    
}

header li a{
    color:black;
    text-decoration: none;
}

p{
    color: white;
}

ol li{
    color: white;
}
button{
    background: #347114;
    border: none;
    border-radius: 2px;
}


img{
    border-radius: 60%;
    float: right;   
}

form{
    background-color: #347114;
    text-align: center;
    border-radius: 20px;
    width: 200;
    height: 120;
}

form input{
    
    text-align:center;
    background-color: rgb(255, 255, 255);
}

div{
    text-align: center;
    
}

#signin{
    display: inline;
    text-align: end;
    background-color: blue;
}

header li button{
    text-align: end;
    font-size: large;
    background-color: rgb(0, 0, 0);
    color: white;
    align-items: end;
    margin-bottom: 25;
}


ul li{
    margin-bottom: 60;
}
